---
interface Props {
  tags?: string[];
}
const { tags } = Astro.props;
---

{
  tags && (
    <div class="flex text-sm gap-2 bg-surface-container px-2 md:px-10 py-1 border-b border-outline relative">
      {tags.map((tag) => (
        <a class="tag" href={`/tags/${tag}`}>
          #{tag}
        </a>
      ))}
    </div>
  )
}
