---
import type { MarkdownHeading } from "astro";

interface Props {
    headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const filteredHeadings = headings.filter((h) => h.depth <= 3);
---

<details>
    <summary>Table of Contents</summary>
    <ul class="text-sm">
        {
            filteredHeadings.map((heading) => (
                <li
                    class={`toc-item depth-${heading.depth} transition-colors duration-200`}
                >
                    <a
                        href={`#${heading.slug}`}
                        class="text-on-surface hover:text-primary transition-colors duration-200 line-clamp-2"
                    >
                        {heading.text}
                    </a>
                </li>
            ))
        }
    </ul>

    <style>
        .depth-3 {
            padding-left: 1rem;
        }
    </style>
</details>
